name: Docker Image

on:
  workflow_dispatch:
  push:
    branches: [ master ]

env: 
  DOCKER_REPOSITORY: wxxxcxx/ms-ra-forwarder

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'wxxxcxx/ms-ra-forwarder'
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Docker setup QEMU
      uses: docker/setup-qemu-action@v1.2.0
      
    - name: Docker setup Buildx
      uses: docker/setup-buildx-action@v1.6.0
      
    - name: Docker login
      uses: docker/login-action@v1.13.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Create docker image tag
      run: echo DATE_TAG=$(date +%y%m%d%H%M%S) >> $GITHUB_ENV
      
    - name: Build and push docker image
      uses: docker/build-push-action@v2.9.0
      with:
        push: true
        platforms: |
          linux/amd64
          linux/arm/v7
          linux/arm64/v8
          linux/ppc64le
          linux/s390x
        tags: |
          ${{ env.DOCKER_REPOSITORY }}:${{ env.DATE_TAG }}
          ${{ env.DOCKER_REPOSITORY }}:latest
